
[NeuralNetwork]
inputs_size = (2, 2, 2, 2)  # How many tiles to use as input in the (up, down, left, right) directions from Mario
hidden_network_architecture = (12, 9)
hidden_node_activation = sigmoid
output_node_activation = sigmoid

[Graphics]
tile_size = (16, 16)  # Tile size in pixels in the (X, Y) direction
neuron_radius = 8


### Genetic Algorithm ###
[Mutation]
mutation_rate = 0.05  # Value must be between [0.00, 1.00)
mutation_rate_type = static
gaussian_mutation_scale = 0.2  # The amount to multiple by the guassian(0, 1) value by

[Crossover]
probability_sbx = 1.0
sbx_eta = 1
crossover_selection = roulette
tournament_size = 5

[Selection]
num_parents = 600
num_offspring = 60
selection_type = plus
lifespan = inf
