
[NeuralNetwork]
input_dims = (4, 7, 10)  # (start_row, width, height) where width and height are in number of tiles
hidden_layer_architecture = (9)
hidden_node_activation = relu
output_node_activation = sigmoid
encode_row = True

[Graphics]
tile_size = (16, 16)  # Tile size in pixels in the (X, Y) direction
neuron_radius = 8

[Statistics]
save_best_individual_from_generation = /path/to/save/individuals
save_population_stats = /path/to/save/stats.csv

### Genetic Algorithm ###
[GeneticAlgorithm]
fitness_func = lambda frames, distance, game_score, did_win: \
# frames:     Number of frames that Mario has been alive for
# distance:   Total horizontal distance gone through the level
# game_score: Actual score Mario has received in the level through power-ups, coins, etc.
# did_win:    True/False if Mario beat the level
    max(distance ** 1.8 - \ 
    frames ** 1.5 +   \
    min(max(distance-50, 0), 1) * 2500 + \
    did_win * 1e6, 0.00001)

[Mutation]
mutation_rate = 0.05  # Value must be between [0.00, 1.00)
mutation_rate_type = static
gaussian_mutation_scale = 0.2  # The amount to multiple by the guassian(0, 1) value by

[Crossover]
probability_sbx = 1.0
sbx_eta = 100
crossover_selection = roulette
tournament_size = 5

[Selection]
#num_parents = 200
#num_offspring = 1000
num_parents = 10
num_offspring = 90
selection_type = comma
lifespan = inf

[Misc]
allow_additional_time_for_flagpole = True
level = 4-1

